@model PagedList.IPagedList<Library.Models.User>
@using PagedList.Mvc;

<link rel="stylesheet" href="~/Styles/Form.css" type="text/css" />

@{
    ViewBag.Title = "Users";
}

<div class="text-center">
    <h2>All users</h2>
</div>
<hr />
<br />

<div class="container">
    <div class="row">
        @Html.Action("UserGridViewPartial")
    </div>
</div>


<button class="button" style="margin: 22px;" type="button" onclick="location.href='@Url.Action("User", "Report")'">Create report</button>
