
@{
    ViewBag.Title = "Loan";
}

<div class="text-center">
    <h2>Loan report</h2>
</div>
<hr />

    @Html.DevExpress().WebDocumentViewer(settings =>
    {
        settings.Name = "WebDocumentViewer";
    }).Bind(new Library.Reports.LoanReport()).GetHtml()

    <button class="button" style="margin: 22px;" type="button" onclick="location.href='@Url.Action("Index", "Loan")'">Go back</button>
