<link rel="stylesheet" href="~/Styles/Form.css" type="text/css" />

@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title information</h2>
<h3>@ViewBag.Message</h3>

<address>
    Angel Arturo Davila Govea<br />
    Av. Independecia, 2808-2<br />
    <abbr title="Phone number">Phone:</abbr>
    614-447-22-54
</address>

<address>
    <strong>LinkedIn Profile:</strong>   <a target="_blank" href="https://www.linkedin.com/in/angel-arturo-davila-govea-318207205/"> Angel Arturo Davila Govea</a><br />
    <strong>GitHub Profile:</strong> <a target="_blank" href="https://github.com/Angel-Davila"> Angel-Davila</a> <br />
    <strong>Email Address:</strong> <a target="_blank" href="mailto:davila7x7@gmail.com?subject= Information and support mail from libray website"> davilaa7x7@gmail.com</a>
</address>
