<link rel="stylesheet" href="~/Styles/Form.css" type="text/css" />

@{
    ViewBag.Title = "Home Page";
}

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" id="carouselHub">
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="http://drive.google.com/uc?export=view&id=1th-pQ0rdn8E7qBChpKK49TnGajCzzrf1" class="carouselImage" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="10000">
            <img src="http://drive.google.com/uc?export=view&id=1rqzofqkaUlxzrVbaqqudXwHz7_9sXp4I" class="carouselImage" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="10000">
            <img src="http://drive.google.com/uc?export=view&id=10YLGaUUuAi6IJuz8GWmgREo1QPYGpmgt" class="carouselImage" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<br />
<div class="jumbotron">
    <h1>ASP.NET library database</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

