@model PagedList.IPagedList<Library.Models.Book>
@using PagedList.Mvc;

<link rel="stylesheet" href="~/Styles/Form.css" type="text/css" />

@{
    ViewBag.Title = "Books";
}

<div class="text-center">
    <h2>List of books</h2>
</div>
<hr />
<br />

<div class="container-fluid">
    <div class="row">
        @Html.Action("BookGridViewPartial")
    </div>
</div>

<button class="button" style="margin: 22px;" type="button" onclick="location.href='@Url.Action("Book", "Report")'">Create report</button>