@model PagedList.IPagedList<Library.Models.Loan>
@using PagedList.Mvc;
<!DOCTYPE html>


<link rel="stylesheet" href="~/Styles/Form.css" type="text/css" />

@{
    ViewBag.Title = "Loans";
}
<div class="text-center">
    <h2>All loans</h2>
</div>
<hr />
<br />

<div class="container">
    <div class="row">
        @Html.Action("LoansGridViewPartial")
    </div>
</div>

<button class="button" style="margin: 22px;" type="button" onclick="location.href='@Url.Action("Loan", "Report")'">Create report</button>





